.form-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 50;
    position: absolute;
}

.texto-abertura {
    position: absolute;
    align-items: center;
    top: 50px;
    left: 50px;
    font-size: 40px;
    font-weight: bold;
    
}

.formulario {
   display: flexbox;
   align-items: center;
 /*   align-items: left; */
   position: relative;
   margin-top: 50px;
   margin-bottom: 50px;
   font-weight: bold;
}

.botao-buscar {
    color: white;
    background-color: rgba(82, 228, 91, 0.931);
    border-color: rgba(64, 184, 72, 0.931);
    padding: 3px 10px;
    border-radius: 8px;
    position: relative;
}

.carrosel-img {
    align-content: space-between;
    max-width: 100px;
    max-height: 100px;
}