<!DOCTYPE html>

<html lang="pt-br">
    <%-include("parts/head.ejs")  %>
<body>
    <%-include("parts/header.ejs")  %>

    <h1>
        <ul>SUCO DE MAÇÃ</ul>
        <ul>SUCO DE ACABAXI</ul>
        <ul>SUCO DE MORANGO</ul>
    </h1>

    <%-include("parts/footer.ejs")  %>
</body>

</html>
