<!DOCTYPE html>

<html>

<%-include("parts/head.ejs") %>

  <link rel="stylesheet" href="/css/index.css">

  <%-include("parts/header.ejs") %>

    <body>

      <div class="formulario-div">
        <h1 class="texto-abertura">Aqui começa a sua jornada</h1>
        <img class="form-img" src="https://source.unsplash.com/random/1340x250/?travel" alt="pordosol">
        <form class="formulario" action="/busca" method="get">
          <div>
            <label>
              <input type="radio" name="ida e volta">
              <span>ida e volta</span>
            </label>
            <label>
              <input type="radio" name="somente ida ">
              <span>somente ida</span>
            </label>
          </div>
          <div class="form-part2">
            </select>

            <label for="nome">Ida:</label>
            <input type="date" name="ida" id='Ida'>

            <label for="nome">Volta:</label>
            <input type="date" name="volta" id='Volta'>

            <label for="nome">Classe:</label>
            <select name="classe" id="classe">
              <option selected value="1">Economica</option>
              <option value="2">Executiva</option>
            </select>


            <button class="botao-buscar" type="submit">PESQUISAR</button>
          </div>
        </form>
      </div>

      <div class="carrosel">
        <h2>confira nosso promoções</h2>
        <div class="carrosel-img">
          <img src="img/lisboa.jpg" alt="lisboa - portugal">
          <img src="paris.jpg" alt="paris - franca">
          <img src="santiago.jpg" alt="santiago - argentina">
        </div>
      </div>
      

        <%-include("parts/footer.ejs") %>
    </body>



</html>