<!DOCTYPE html>

<html lang="pt-br">
    <%-include("parts/head.ejs")  %>
<body>
<header>
    <div>
        <h1>PROJETO23</h1>
        <img src="img/home.webp" alt="PROJETO23">
    </div>
</header>

    <%-include("parts/footer.ejs")  %>
</body>

</html>
