<header>
    <link rel="stylesheet" href=".../public/css/header.css">
    <div class="logo-texto">
      <img class="logo" src="" alt="Logo da empresa">
      <div>
      </div>
  
    </div>
    <div>
      <a class="link-secundario" href="/ajuda">Ajuda</a>
      <button class="botao-secundario">Português Brasil</button>
      <a class="botao-primario" href="/usuarios/entrar">ENTRAR</a>
    </div>
  </header>
  
  <body class="w3-light-grey">
  
  
     <div class="div-header">
      <button class="Passagens-aereas-botão">
        <i class="Passagens-aereas">  
        </i>Passagens aéreas</button>
      <button class="Hotel/Acomodações-botão">
        <i class="Hotel/Acomodações">
        </i>Hotel/Acomodações</button>
      <button class="Aluguel-Carro-botãos">
        <i class="Aluguel-Carro">
        </i>Aluguel de Carro</button>
    </div> 
</header>
